<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="open" connectionString="Data Source=ALANHYNEMAN5E09;Initial Catalog=SampleDB;User=open;Password=open" />
    <add name="trusted" connectionString="Data Source=ALANHYNEMAN5E09;Initial Catalog=SampleDB;User=trusted;Password=trusted" />
    <add name="restsql" connectionString="Data Source=ALANHYNEMAN5E09;Initial Catalog=SampleDB;User=restsql;Password=restsql" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>